node_modules/
www/
android/app/src/main/assets/public/
android/app/build/
android/app/.cxx/
android/.gradle/
android/build/
android/local.properties
android/captures/
*.apk
*.aab
*.ap_
*.dex
*.class
.idea/
*.iml
.DS_Store
*.log
